run = "python smart_aix_server.py"
language = "python3"

[nix]
channel = "stable-23_05"

[env]
FLASK_APP = "smart_aix_server.py"
FLASK_ENV = "production"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = true
packageSearch = true

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = "pylsp"
