run = "pip install -r requirements.txt && python smart_aix_server.py"
language = "python3"
entrypoint = "smart_aix_server.py"

[nix]
channel = "stable-23_05"

[env]
PYTHONPATH = "${PYTHONPATH}:${workspaceFolder}"
FLASK_APP = "smart_aix_server.py"
FLASK_ENV = "production"

[packager]
language = "python3"
ignoredPackages = ["unit_tests"]

[packager.features]
enabledForHosting = true
packageSearch = true

[unitTest]
language = "python3"

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = "pylsp"
