run = "python -m flask run --host=0.0.0.0 --port=8080"
language = "python3"
entrypoint = "smart_aix_server.py"

[nix]
channel = "stable-22_11"

[env]
FLASK_APP = "smart_aix_server.py"
FLASK_ENV = "production"

[packager]
language = "python3"

[unitTest]
language = "python3"

[[ports]]
localPort = 8080
externalPort = 80
